:root {
  --background-color: #000000;
  --border-radius: 0px;
  --primary-color: #592e84;
  --secondary-color: #222222;
  --input-background-color: #2b2b2b;
  --padding: 1.1rem;
  --border-color: #979797;
  --max-width: 1600px;
  --width-percentage: 90%;
  --global-font-family: 'Nunito Sans', "Inter", sans-serif;
}

body {
  font-family: var(--global-font-family);
  margin: 0;
  font-size: 16px;
  color: white;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

/* Navigation Bar Start */
nav {
  background-color: var(--secondary-color);
  height: 66px;
  position: fixed;
  left: 0px;
  width: 100%;
  color: white;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  border-bottom: 1px solid var(--input-background-color);
  /* border-bottom: 1px solid #BDB8B8; */
}

.nav_content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  width: var(--width-percentage);
  max-width: var(--max-width);
}

.site_title {
  font-size: 17px;
  margin: 0px;
  margin-left: 22px;
  font-weight: bold;
}

.nav_button {
  outline: none;
  margin-left: auto;
  height: 100%;
  width: 50px;
  border: none;
  background-color: transparent;
  transition: fill 0.2s;
  fill: var(--border-color);
}

.nav_button:hover {
  fill: white;
  cursor: pointer;
}

.nav-content > ul:first-child {
  margin: 0px;
  margin-left: auto;
  list-style-type: none;
  padding: 0px;
}

/* .nav-content li {
  display: inline-block;
  margin: 0px;
  margin-left: 26px;
}

.nav-content li a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

.hm {
  display: none
} */

/* Navigation Bar End */

/* Footer start */
footer {
  position: fixed;
  border-top: 1px solid var(--input-background-color);
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  z-index: 999;
  background-color: var(--secondary-color);
  height: 60px;
  justify-content: center;
  align-items: center;
  color: white;
}



.footer_content {
  padding-left: 0px;
  height: 100%;
  width: var(--width-percentage);
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_content span, .footer_content h4 {
  display: none
}



.footer_nav {
  padding-left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_nav li {
  /* display: inline-block; */
  margin: 0px;
  height: 100%;
}

.footer_nav li a {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  height: 100%;
  justify-content: space-evenly;
}

.footer_nav p {
  margin: 0px;
  font-size: 10px;
  text-align: center;
  font-weight: 400;
}

  /* make footer stoff appear */
  .footer_content iframe, .footer_content h4 {
    display: none
  }



/* .footer-content li {
  display: inline-block;
  margin: 0px;
  margin-left: 26px;
}

.footer-content li a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-content li a:visited {
  color: inherit;
} */

.footer-content li a:hover {
  text-decoration: underline;
}

/* footer end */

main {
  flex: 1;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 66px;
  margin-bottom: 60px;
  background-color: var(--background-color);
}

.main_content {
  color: white;
  max-width: var(--max-width);
  width: var(--width-percentage);

  /*   
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start; */
}

/* controls start */

.controls {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  min-height: 70px;
}

.controls h3 {
  margin: 0px;
  margin-top: 5px;
  font-size: 19px;
  font-weight: 600;
}

.controls span {
  font-size: 10px;
}

.controls form {
  margin: 0px;
  margin-top: 10px;
}

.controls form select {
  height: 44px;
  font-size: 15px;
  padding-left: 8px;
  font-weight: 600;
  border: 2px solid var(--border-color);
  color: white;
  outline: none;
  width: 100%;
  /* https://stackoverflow.com/a/27641804 */
  background: url("./imgs/angle-down.svg") no-repeat right;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-position-x: calc(100% - 20px);
  background-color: var(--input-background-color);
}

.controls form select:focus {
  border: 2px solid white;
}

/* controls end  */

/* menu start */

.menu {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: white;
  background-color: var(--secondary-color);
  background-image: url("./imgs/me.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  /* background-size: 24%; */
  position: absolute;
  /* display: none; */
  top: 66px;
  left: 0px;
  right: 0px;
  transition-property: visibility, opacity;
  transition-duration: 2s, 2s;
}

.menu_content {
  width: var(--width-percentage);
  max-width: var(--max-width);
}

.closed_menu {
  display: none;
}

.open_menu {
  display: fle;
}

.menu ul {
  justify-content: flex-start;
  padding-left: 0px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu li a {
  font-size: 18px;
  font-weight: 500;
}

.menu p {
  font-size: 15px;
}

/* menu end */

/* dashboard start */

.grid-container {
  display: grid;
  margin-top: 30px;
  grid-template-areas:
    "tc tc td td tr tr "
    "tc tc td td tr tr "
    "ct ct ct cr cr cr"
    "ct ct ct cr cr cr"
    "gf gf gf gr gr gr"
    "gf gf gf gr gr gr"
    "gf gf gf gr gr gr"
    "table table table table table table"
    "table table table table table table"
    "table table table table table table"
    "table table table table table table"
    "map map map map map map"
    "map map map map map map"
    "map map map map map map"
    "map map map map map map"
    "map map map map map map"
    "map map map map map map"
    "news news news news news news"
    "news news news news news news"
    "news news news news news news"
    "news news news news news news"
    "twit twit twit twit twit twit"
    "twit twit twit twit twit twit"
    "twit twit twit twit twit twit"
    "twit twit twit twit twit twit"
    ;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
}

.grid_box {
  background-color: #222222;
  border: 1px solid #979797;
}

#count_total_cases {
  grid-area: tc;
  position: relative;
 
}
#count_total_deaths {
  position: relative;
  grid-area: td;

}
#count_total_recoveries {
  position: relative;
  grid-area: tr;

}

#cases_today {
  grid-area: ct;
  
}

#cases_recovered {
  grid-area: cr;

 
}

#graph_fatality {
  grid-area: gf;
  position: relative;

}

#graph_recovery {
  grid-area: gr;
  position: relative;
 
}

#map {
  grid-area: map;
  position: relative;
}

.map_content {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

#news {
  grid-area: news;
 
}

#twitterfeed {
  grid-area: twit;

}

#table {
  grid-area: table;
  position: relative;
}

.table_content {
  width: 100%;
  border-collapse: collapse;
 /* text-align: start;
 display: grid;
 grid-template-columns: 2fr repeat(3, 1fr); */
}

.table_content tbody {
  
}

/* https://css-tricks.com/position-sticky-and-table-headers/ */
.table_content th {
 background-color: red;
 position: sticky;
 top: 0px;
 text-align: start;
}

.table_content thead{
  background-color: red;
}

.table_content tr:hover{
  background-color: #cccccc;
  cursor: pointer;
}

.table_content td, .table_content th{
  
  padding: 10px;
}

@media only screen and (min-width: 848px) {
  .controls form select {
    width: 60%;
  }

  /* footer will not be fixed */

  footer {
    position: static;

    /* bottom: auto;
    left: auto;
    right: auto; */
  }

  /* hider burger */
  .nav_button {
    display: none;
  }

  /* make menu normal */
  .menu_content,
  .menu {
    all: unset;
    height: 100%;
  }

  /* set it to be on right side always */
  .menu {
    margin-left: auto;
    background-image: none;
   
  }

  /* ghaib karo github wale span aur paragraph ko ko */
  .menu p,
  .menu span {
    display: none;
  }

  /* ul ke margin ko hatao */
  .menu_content ul {
    margin: 0px;
    display: flex;
    height: inherit;
    align-items: center;
  }

  /* hide github stuff */

.menu_content iframe{
  display: none
}


  /* make the anchor full height to make it easy to click */
  .menu_content ul li {
    height: inherit;
  }

  .menu_content ul li a{
    height: inherit;
    display: flex;
    align-items: center;
  }

  /* enlarge site title */
  .site_title {
    font-size: 24px;
  }

  /* increase height of footer */
  footer {
    height: 80px;
  }

  /* make footer stoff appear */
  .footer_content iframe, .footer_content h4 {
    display: initial
  }
  
  
  /* make ul right aligned */
  .footer_nav {
    margin-left: auto;
    width: unset;
  }
  
  /* hide svg */
  .footer_nav svg {
    display: none
  }

  /* increase font size and weight */
  .footer_nav li p {
    font-size: 18px;
    font-weight: 500;
  }

  .footer_nav li a {
    width: unset;
    margin-left: 20px;
  }


  .grid-container {
    grid-template-areas:
      "tc tc tc td td td tr tr tr  table table table table table "
      "tc tc tc td td td tr tr tr  table table table table table"
      "map map map map map map map map map table table table table table"
      "map map map map map map map map map table table table table table"
      "map map map map map map map map map gf gf gf gf gf "
      "ct ct ct ct gr gr gr gr gr gf gf gf gf gf"
      "ct ct ct ct gr gr gr gr gr gf gf gf gf gf"
      "cr cr cr cr gr gr gr gr gr gf gf gf gf gf"
      "cr cr cr cr gr gr gr gr gr gf gf gf gf gf"
      "news news news news news news news twit twit twit twit twit twit twit"
      "news news news news news news news twit twit twit twit twit twit twit"
      "news news news news news news news twit twit twit twit twit twit twit"
      "news news news news news news news twit twit twit twit twit twit twit";
    gap: 12px;
    grid-template-columns: repeat(14, 1fr);
  }
}

@media only screen and (min-width: 1280px) {
  .grid-container {
    grid-template-areas:
      "tc tc tc td td td tr tr tr ct ct ct cr cr cr "
      "tc tc tc td td td tr tr tr ct ct ct cr cr cr "
      "map map map map map map map map map  gr gr gr gf gf gf "
      "map map map map map map map map map gr gr gr gf gf gf"
      "map map map map map map map map map gr gr gr gf gf gf"
      "map map map map map map map map map table table table table table table"
      "map map map map map map map map map table table table table table table"
      "map map map map map map map map map table table table table table table"
      "map map map map map map map map map table table table table table table"
      "map map map map map map map map map table table table table table table"
      "news news news news news news news twit twit twit twit twit twit twit twit"
      "news news news news news news news twit twit twit twit twit twit twit twit"
      "news news news news news news news twit twit twit twit twit twit twit twit"
      "news news news news news news news twit twit twit twit twit twit twit twit";
    gap: 12px;
    grid-template-columns: repeat(15, 1fr);
  }
}
/* dashboard end */
