body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  background-color: white;
}

* {
  box-sizing: border-box;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

a:hover {
  text-decoration: underline;
}


/* Navigation Bar Start */
nav {
  background-color: white ;
  height: 70px;
  position: fixed;
  left: 0px;
  width: 100%;
  color:#1B2845;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-width:  1100px;
  
}

.nav-content ul {
  margin: 0px;
  margin-left: auto;
  list-style-type: none;
  padding: 0px;
  
}


.nav-content li {
  display: inline-block;
  margin: 0px;
  margin-left: 26px;
}

.nav-content li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.nav-content li a:visited {
  color: inherit;
}

.nav-content li a:hover {
  text-decoration: underline;
}






/* Navigation Bar End */


/* Hero start */

.hero {
  display: flex;
  margin-top: 70px;
  background-image: url('./imgs/hero-bg.svg');
 

  height: 185px;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  max-width:  1100px;
}

.hero-header {
  margin-right: 16px;
  font-size: 50px;
  font-weight: 900px;
}

/* Hero End */

/* Footer start */
footer {
  display: flex;
  background-color: #1B2845;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: white;
  
}

footer li {
  display: inline;
}

.footer-content {
  height: 100%;
  width: 90%;
  max-width:  1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.footer-content ul {
  margin: 0px;
  margin-left: auto;
  list-style-type: none;
  padding: 0px;
  
}


.footer-content li {
  display: inline-block;
  margin: 0px;
  margin-left: 26px;
}

.footer-content li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.footer-content li a:visited {
  color: inherit;
}

.footer-content li a:hover {
  text-decoration: underline;
}



/* footer end */


main {
  flex: 1;
}


.scrollup-button {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  right: 35px;
  bottom: 85px;
  color: white;
  border: thin;
  background-color: #00CEC9;
}

/* Github buttons */



/* Github buttons end */